[submodule "Archipelago"]
	path = Archipelago
	url = git@github.com:4laric/Archipelago.git
	branch = ap-sync-2026-06-13
[submodule "SoulsRandomizers"]
	path = SoulsRandomizers
	url = git@github.com:4laric/SoulsRandomizers.git
	branch = ap-sync-2026-06-13
[submodule "Dark-Souls-III-Archipelago-client"]
	path = Dark-Souls-III-Archipelago-client
	url = git@github.com:4laric/Dark-Souls-III-Archipelago-client.git
	branch = main
[submodule "SoulsFormats"]
	path = SoulsFormats
	url = git@github.com:4laric/SoulsFormats.git
	branch = dsms
[submodule "SoulsIds"]
	path = SoulsIds
	url = git@github.com:4laric/SoulsIds.git
	branch = ap-fixes
[submodule "nightreign-enemy-rando"]
	path = nightreign-enemy-rando
	url = git@github.com:4laric/nightreign-enemy-rando.git
	branch = master
[submodule "SoulsFormatsNEXT"]
	path = SoulsFormatsNEXT
	url = git@github.com:fswap/SoulsFormatsNEXT.git
	branch = master
[submodule "Paramdex"]
	path = Paramdex
	url = .\\Paramdex\\
[submodule "yet-another-tab-control"]
	path = yet-another-tab-control
	url = .\\yet-another-tab-control\\
